.header{
    height: 200px;
    width: 100%;
    background-color : #E9EEF6;
    padding-top: 50px;
  }
  
  .card-container{
    height: 300px;
    width: 300px;
    box-shadow: 0px 3px 50px #A5A5A5;
  }
  
  .card-wrapper{
    width: 270px; 
    height: 200px; 
    box-shadow: 0px 3px 50px #A5A5A5;
    display: flex;
    flex-direction: column;
  }
  
  .card-top{
    width: 100%;
    height: 2%;
  }
  
  .task-holder{
    width: 100%;
    height: 98%;
    padding: 10px 10px;
    display : flex;
    flex-direction: column;
    position: relative;
    
  }
  .Label-design{
    color: #303983;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
/* .main-wrap{
  background-color: aqua;
} */


  
  .card-header{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 80px;
    height: 30px;
    padding: 1px 1px !important;
    text-align: center;
  }
  .task-container{
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #abd0f5; */
    padding : 40px 100px;
    
  }
  
  
 
